################################################################################
# macOS
################################################################################

.DS_Store

################################################################################
# vim
################################################################################

*.un~
dotfiles/link/vim/backup/
dotfiles/link/vim/swap/
dotfiles/link/vim/undo/

################################################################################
# claude
################################################################################

.claude/settings.local.json

################################################################################
# zsh
################################################################################

dotfiles/link/config/zsh/functions-local/
