################################################################################
# macOS
################################################################################

.DS_Store

################################################################################
# vim
################################################################################

*.un~
.claude/settings.local.json
